@model Departemen_Matematika.Models.Mahasiswa

@{
    ViewData["Title"] = "Create";
}

<style>
    .required::after {
        content: "*";
        color: red;
        font-size: 20px;
    }
</style>

<h1>ADD NEW MAHASISWA</h1>

<h4>Mahasiswa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Form Field for NIM *@
            <div class="form-group">
                <label asp-for="NIM" class="control-label required"></label>
                <input asp-for="NIM" class="form-control" />
                <span asp-validation-for="NIM" class="text-danger"></span>
            </div>

            @* Form Field for Name *@
            <div class="form-group">
                <label asp-for="Nama" class="control-label required"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>

            @* Form Field for Gender *@
            <div class="form-group">
                <label asp-for="Gender" class="control-label required"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">Select one</option>
                    <option value="L">Laki-laki</option>
                    <option value="P">Perempuan</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            @* Form Field for Telephone *@
            <div class="form-group">
                <label asp-for="Telephone" class="control-label required"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            @* Form Field for Address *@
            <div class="form-group">
                <label asp-for="Address" class="control-label required"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            @* Form Field for Join_Date *@
            <div class="form-group">
                <label asp-for="Join_Date" class="control-label required"></label>
                <input asp-for="Join_Date" type="date" class="form-control" />
                <span asp-validation-for="Join_Date" class="text-danger"></span>
            </div>

            @* Form Field for Graduation_Date *@
            <div class="form-group">
                <label asp-for="Graduation_Date" class="control-label"></label>
                <input asp-for="Graduation_Date" type="date" class="form-control" />
                <span asp-validation-for="Graduation_Date" class="text-danger"></span>
            </div>

            @* Form Field for Dosen_Wali *@
            <div class="form-group">
                <label asp-for="Dosen_Wali" class="control-label required"></label>
                <input asp-for="Dosen_Wali" class="form-control" />
                <span asp-validation-for="Dosen_Wali" class="text-danger"></span>
            </div>

            @* Form Field for Fakultas_Code *@
            <div class="form-group">
                <label asp-for="Fakultas_Code" class="control-label required"></label>
                <input asp-for="Fakultas_Code" class="form-control" />
                <span asp-validation-for="Fakultas_Code" class="text-danger"></span>
            </div>

            @* Form Field for Department_Code *@
            <div class="form-group">
                <label asp-for="Department_Code" class="control-label required"></label>
                <input asp-for="Department_Code" class="form-control" />
                <span asp-validation-for="Department_Code" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}